#bertrand {
  box-shadow: 40px -130px 0 0 #414141, 50px -130px 0 0 #414141,
    60px -130px 0 0 #414141, 70px -130px 0 0 #414141, 30px -120px 0 0 #414141,
    40px -120px 0 0 #e1e1e1, 50px -120px 0 0 #ffffff, 60px -120px 0 0 #ffffff,
    70px -120px 0 0 #ffffff, 80px -120px 0 0 #414141, 30px -110px 0 0 #414141,
    40px -110px 0 0 #e1e1e1, 50px -110px 0 0 #ffffff, 60px -110px 0 0 #ffffff,
    70px -110px 0 0 #ffffff, 80px -110px 0 0 #414141, 30px -100px 0 0 #414141,
    40px -100px 0 0 #414141, 50px -100px 0 0 #ffffff, 60px -100px 0 0 #de7403,
    70px -100px 0 0 #ff8f0f, 80px -100px 0 0 #ff8f0f, 90px -100px 0 0 #414141,
    30px -90px 0 0 #414141, 40px -90px 0 0 #e1e1e1, 50px -90px 0 0 #ffffff,
    60px -90px 0 0 #de7403, 70px -90px 0 0 #ff8f0f, 80px -90px 0 0 #ff8f0f,
    90px -90px 0 0 #414141, 30px -80px 0 0 #414141, 40px -80px 0 0 #e1e1e1,
    50px -80px 0 0 #ffffff, 60px -80px 0 0 #ffffff, 70px -80px 0 0 #ffffff,
    80px -80px 0 0 #414141, 80px -70px 0 0 #414141, 30px -70px 0 0 #414141,
    40px -70px 0 0 #e1e1e1, 50px -70px 0 0 #ffffff, 60px -70px 0 0 #ffffff,
    70px -70px 0 0 #ffffff, 80px -60px 0 0 #414141, 20px -60px 0 0 #414141,
    30px -60px 0 0 #b0b0b0, 40px -60px 0 0 #e1e1e1, 50px -60px 0 0 #ffffff,
    60px -60px 0 0 #ffffff, 70px -60px 0 0 #ffffff, 80px -60px 0 0 #414141,
    20px -50px 0 0 #414141, 30px -50px 0 0 #b0b0b0, 40px -50px 0 0 #ffffff,
    50px -50px 0 0 #e1e1e1, 60px -50px 0 0 #b0b0b0, 70px -50px 0 0 #ffffff,
    80px -50px 0 0 #414141, 0px -40px 0 0 #414141, 10px -40px 0 0 #414141,
    20px -40px 0 0 #6e6e6e, 30px -40px 0 0 #b0b0b0, 40px -40px 0 0 #b0b0b0,
    50px -40px 0 0 #b0b0b0, 60px -40px 0 0 #ffffff, 70px -40px 0 0 #ffffff,
    80px -40px 0 0 #414141, 0px -30px 0 0 #414141, 10px -30px 0 0 #6e6e6e,
    20px -30px 0 0 #6e6e6e, 30px -30px 0 0 #b0b0b0, 40px -30px 0 0 #ffffff,
    50px -30px 0 0 #ffffff, 60px -30px 0 0 #ffffff, 70px -30px 0 0 #ffffff,
    80px -30px 0 0 #414141, 10px -20px 0 0 #414141, 20px -20px 0 0 #414141,
    30px -20px 0 0 #b0b0b0, 40px -20px 0 0 #ffffff, 50px -20px 0 0 #ffffff,
    60px -20px 0 0 #ffffff, 70px -20px 0 0 #414141, 20px -10px 0 0 #414141,
    30px -10px 0 0 #414141, 40px -10px 0 0 #414141, 50px -10px 0 0 #414141,
    60px -10px 0 0 #414141, 20px -0px 0 0 #414141, 60px -0px 0 0 #414141;
  height: 10px;
  width: 10px;
}

#bertrand.key-0 {
  box-shadow: 40px -130px 0 0 #414141, 50px -130px 0 0 #414141,
    60px -130px 0 0 #414141, 70px -130px 0 0 #414141, 30px -120px 0 0 #414141,
    40px -120px 0 0 #e1e1e1, 50px -120px 0 0 #ffffff, 60px -120px 0 0 #ffffff,
    70px -120px 0 0 #ffffff, 80px -120px 0 0 #414141, 30px -110px 0 0 #414141,
    40px -110px 0 0 #e1e1e1, 50px -110px 0 0 #ffffff, 60px -110px 0 0 #ffffff,
    70px -110px 0 0 #ffffff, 80px -110px 0 0 #414141, 30px -100px 0 0 #414141,
    40px -100px 0 0 #414141, 50px -100px 0 0 #ffffff, 60px -100px 0 0 #de7403,
    70px -100px 0 0 #ff8f0f, 80px -100px 0 0 #ff8f0f, 90px -100px 0 0 #414141,
    30px -90px 0 0 #414141, 40px -90px 0 0 #e1e1e1, 50px -90px 0 0 #ffffff,
    60px -90px 0 0 #de7403, 70px -90px 0 0 #ff8f0f, 80px -90px 0 0 #ff8f0f,
    90px -90px 0 0 #414141, 30px -80px 0 0 #414141, 40px -80px 0 0 #e1e1e1,
    50px -80px 0 0 #ffffff, 60px -80px 0 0 #ffffff, 70px -80px 0 0 #ffffff,
    80px -80px 0 0 #414141, 80px -70px 0 0 #414141, 30px -70px 0 0 #414141,
    40px -70px 0 0 #e1e1e1, 50px -70px 0 0 #ffffff, 60px -70px 0 0 #ffffff,
    70px -70px 0 0 #ffffff, 80px -60px 0 0 #414141, 20px -60px 0 0 #414141,
    30px -60px 0 0 #b0b0b0, 40px -60px 0 0 #e1e1e1, 50px -60px 0 0 #ffffff,
    60px -60px 0 0 #ffffff, 70px -60px 0 0 #ffffff, 80px -60px 0 0 #414141,
    20px -50px 0 0 #414141, 30px -50px 0 0 #b0b0b0, 40px -50px 0 0 #ffffff,
    50px -50px 0 0 #e1e1e1, 60px -50px 0 0 #b0b0b0, 70px -50px 0 0 #ffffff,
    80px -50px 0 0 #414141, 0px -40px 0 0 #414141, 10px -40px 0 0 #414141,
    20px -40px 0 0 #6e6e6e, 30px -40px 0 0 #b0b0b0, 40px -40px 0 0 #b0b0b0,
    50px -40px 0 0 #b0b0b0, 60px -40px 0 0 #ffffff, 70px -40px 0 0 #ffffff,
    80px -40px 0 0 #414141, 0px -30px 0 0 #414141, 10px -30px 0 0 #6e6e6e,
    20px -30px 0 0 #6e6e6e, 30px -30px 0 0 #b0b0b0, 40px -30px 0 0 #ffffff,
    50px -30px 0 0 #ffffff, 60px -30px 0 0 #ffffff, 70px -30px 0 0 #ffffff,
    80px -30px 0 0 #414141, 10px -20px 0 0 #414141, 20px -20px 0 0 #414141,
    30px -20px 0 0 #b0b0b0, 40px -20px 0 0 #ffffff, 50px -20px 0 0 #ffffff,
    60px -20px 0 0 #ffffff, 70px -20px 0 0 #414141, 20px -10px 0 0 #414141,
    30px -10px 0 0 #414141, 40px -10px 0 0 #414141, 50px -10px 0 0 #414141,
    60px -10px 0 0 #414141, 20px -0px 0 0 #414141, 60px -0px 0 0 #414141;
}

#bertrand.key-1 {
  box-shadow: 40px -120px 0 0 #414141, 50px -120px 0 0 #414141,
    60px -120px 0 0 #414141, 70px -120px 0 0 #414141, 30px -110px 0 0 #414141,
    40px -110px 0 0 #e1e1e1, 50px -110px 0 0 #ffffff, 60px -110px 0 0 #ffffff,
    70px -110px 0 0 #ffffff, 80px -110px 0 0 #414141, 30px -100px 0 0 #414141,
    40px -100px 0 0 #e1e1e1, 50px -100px 0 0 #ffffff, 60px -100px 0 0 #ffffff,
    70px -100px 0 0 #ffffff, 80px -100px 0 0 #414141, 30px -90px 0 0 #414141,
    40px -90px 0 0 #414141, 50px -90px 0 0 #ffffff, 60px -90px 0 0 #de7403,
    70px -90px 0 0 #ff8f0f, 80px -90px 0 0 #ff8f0f, 80px -100px 0 0 #414141,
    30px -80px 0 0 #414141, 40px -80px 0 0 #e1e1e1, 50px -80px 0 0 #ffffff,
    60px -80px 0 0 #de7403, 70px -80px 0 0 #ff8f0f, 80px -80px 0 0 #ff8f0f,
    90px -90px 0 0 #414141, 90px -80px 0 0 #414141, 80px -70px 0 0 #414141,
    30px -70px 0 0 #414141, 40px -70px 0 0 #e1e1e1, 50px -70px 0 0 #ffffff,
    60px -70px 0 0 #ffffff, 70px -70px 0 0 #ffffff, 80px -60px 0 0 #414141,
    20px -60px 0 0 #414141, 30px -60px 0 0 #b0b0b0, 40px -60px 0 0 #e1e1e1,
    50px -60px 0 0 #ffffff, 60px -60px 0 0 #ffffff, 70px -60px 0 0 #ffffff,
    80px -60px 0 0 #414141, 20px -50px 0 0 #414141, 30px -50px 0 0 #b0b0b0,
    40px -50px 0 0 #ffffff, 50px -50px 0 0 #e1e1e1, 60px -50px 0 0 #b0b0b0,
    70px -50px 0 0 #ffffff, 80px -50px 0 0 #414141, 0px -40px 0 0 #414141,
    10px -40px 0 0 #414141, 20px -40px 0 0 #6e6e6e, 30px -40px 0 0 #b0b0b0,
    40px -40px 0 0 #b0b0b0, 50px -40px 0 0 #b0b0b0, 60px -40px 0 0 #ffffff,
    70px -40px 0 0 #ffffff, 80px -40px 0 0 #414141, 0px -30px 0 0 #414141,
    10px -30px 0 0 #6e6e6e, 20px -30px 0 0 #6e6e6e, 30px -30px 0 0 #b0b0b0,
    40px -30px 0 0 #ffffff, 50px -30px 0 0 #ffffff, 60px -30px 0 0 #ffffff,
    70px -30px 0 0 #ffffff, 80px -30px 0 0 #414141, 10px -20px 0 0 #414141,
    20px -20px 0 0 #414141, 30px -20px 0 0 #b0b0b0, 40px -20px 0 0 #ffffff,
    50px -20px 0 0 #ffffff, 60px -20px 0 0 #ffffff, 70px -20px 0 0 #414141,
    20px -10px 0 0 #414141, 30px -10px 0 0 #414141, 40px -10px 0 0 #414141,
    50px -10px 0 0 #414141, 60px -10px 0 0 #414141, 20px -0px 0 0 #414141,
    70px -0px 0 0 #414141;
}

#bertrand.key-2 {
  box-shadow: 40px -120px 0 0 #414141, 50px -120px 0 0 #414141,
    60px -120px 0 0 #414141, 70px -120px 0 0 #414141, 30px -110px 0 0 #414141,
    40px -110px 0 0 #e1e1e1, 50px -110px 0 0 #ffffff, 60px -110px 0 0 #ffffff,
    70px -110px 0 0 #ffffff, 80px -110px 0 0 #414141, 30px -100px 0 0 #414141,
    40px -100px 0 0 #e1e1e1, 50px -100px 0 0 #ffffff, 60px -100px 0 0 #ffffff,
    70px -100px 0 0 #ffffff, 80px -100px 0 0 #414141, 30px -90px 0 0 #414141,
    40px -90px 0 0 #414141, 50px -90px 0 0 #ffffff, 60px -90px 0 0 #de7403,
    70px -90px 0 0 #ff8f0f, 80px -90px 0 0 #ff8f0f, 80px -100px 0 0 #414141,
    30px -80px 0 0 #414141, 40px -80px 0 0 #e1e1e1, 50px -80px 0 0 #ffffff,
    60px -80px 0 0 #de7403, 70px -80px 0 0 #ff8f0f, 80px -80px 0 0 #ff8f0f,
    90px -90px 0 0 #414141, 90px -80px 0 0 #414141, 80px -70px 0 0 #414141,
    30px -70px 0 0 #414141, 40px -70px 0 0 #e1e1e1, 50px -70px 0 0 #ffffff,
    60px -70px 0 0 #ffffff, 70px -70px 0 0 #ffffff, 80px -60px 0 0 #414141,
    20px -60px 0 0 #414141, 30px -60px 0 0 #b0b0b0, 40px -60px 0 0 #e1e1e1,
    50px -60px 0 0 #ffffff, 60px -60px 0 0 #ffffff, 70px -60px 0 0 #ffffff,
    80px -60px 0 0 #414141, 20px -50px 0 0 #414141, 30px -50px 0 0 #b0b0b0,
    40px -50px 0 0 #ffffff, 50px -50px 0 0 #e1e1e1, 60px -50px 0 0 #b0b0b0,
    70px -50px 0 0 #ffffff, 80px -50px 0 0 #414141, 0px -40px 0 0 #414141,
    10px -40px 0 0 #414141, 20px -40px 0 0 #6e6e6e, 30px -40px 0 0 #b0b0b0,
    40px -40px 0 0 #b0b0b0, 50px -40px 0 0 #b0b0b0, 60px -40px 0 0 #ffffff,
    70px -40px 0 0 #ffffff, 80px -40px 0 0 #414141, 0px -30px 0 0 #414141,
    10px -30px 0 0 #6e6e6e, 20px -30px 0 0 #6e6e6e, 30px -30px 0 0 #b0b0b0,
    40px -30px 0 0 #ffffff, 50px -30px 0 0 #ffffff, 60px -30px 0 0 #ffffff,
    70px -30px 0 0 #ffffff, 80px -30px 0 0 #414141, 10px -20px 0 0 #414141,
    20px -20px 0 0 #414141, 30px -20px 0 0 #b0b0b0, 40px -20px 0 0 #ffffff,
    50px -20px 0 0 #ffffff, 60px -20px 0 0 #ffffff, 70px -20px 0 0 #414141,
    20px -10px 0 0 #414141, 30px -10px 0 0 #414141, 40px -10px 0 0 #414141,
    50px -10px 0 0 #414141, 60px -10px 0 0 #414141, 30px -0px 0 0 #414141,
    70px -0px 0 0 #414141;
}

#bertrand.key-3 {
  box-shadow: 40px -130px 0 0 #414141, 50px -130px 0 0 #414141,
    60px -130px 0 0 #414141, 70px -130px 0 0 #414141, 30px -120px 0 0 #414141,
    40px -120px 0 0 #e1e1e1, 50px -120px 0 0 #ffffff, 60px -120px 0 0 #ffffff,
    70px -120px 0 0 #ffffff, 80px -120px 0 0 #414141, 30px -110px 0 0 #414141,
    40px -110px 0 0 #e1e1e1, 50px -110px 0 0 #ffffff, 60px -110px 0 0 #ffffff,
    70px -110px 0 0 #ffffff, 80px -110px 0 0 #414141, 30px -100px 0 0 #414141,
    40px -100px 0 0 #414141, 50px -100px 0 0 #ffffff, 60px -100px 0 0 #de7403,
    70px -100px 0 0 #ff8f0f, 80px -100px 0 0 #ff8f0f, 90px -100px 0 0 #414141,
    30px -90px 0 0 #414141, 40px -90px 0 0 #e1e1e1, 50px -90px 0 0 #ffffff,
    60px -90px 0 0 #de7403, 70px -90px 0 0 #ff8f0f, 80px -90px 0 0 #ff8f0f,
    90px -90px 0 0 #414141, 30px -80px 0 0 #414141, 40px -80px 0 0 #e1e1e1,
    50px -80px 0 0 #ffffff, 60px -80px 0 0 #ffffff, 70px -80px 0 0 #ffffff,
    80px -80px 0 0 #414141, 80px -70px 0 0 #414141, 30px -70px 0 0 #414141,
    40px -70px 0 0 #e1e1e1, 50px -70px 0 0 #ffffff, 60px -70px 0 0 #ffffff,
    70px -70px 0 0 #ffffff, 80px -60px 0 0 #414141, 20px -60px 0 0 #414141,
    30px -60px 0 0 #b0b0b0, 40px -60px 0 0 #e1e1e1, 50px -60px 0 0 #ffffff,
    60px -60px 0 0 #ffffff, 70px -60px 0 0 #ffffff, 80px -60px 0 0 #414141,
    20px -50px 0 0 #414141, 30px -50px 0 0 #b0b0b0, 40px -50px 0 0 #ffffff,
    50px -50px 0 0 #e1e1e1, 60px -50px 0 0 #b0b0b0, 70px -50px 0 0 #ffffff,
    80px -50px 0 0 #414141, 0px -40px 0 0 #414141, 10px -40px 0 0 #414141,
    20px -40px 0 0 #6e6e6e, 30px -40px 0 0 #b0b0b0, 40px -40px 0 0 #b0b0b0,
    50px -40px 0 0 #b0b0b0, 60px -40px 0 0 #ffffff, 70px -40px 0 0 #ffffff,
    80px -40px 0 0 #414141, 0px -30px 0 0 #414141, 10px -30px 0 0 #6e6e6e,
    20px -30px 0 0 #6e6e6e, 30px -30px 0 0 #b0b0b0, 40px -30px 0 0 #ffffff,
    50px -30px 0 0 #ffffff, 60px -30px 0 0 #ffffff, 70px -30px 0 0 #ffffff,
    80px -30px 0 0 #414141, 10px -20px 0 0 #414141, 20px -20px 0 0 #414141,
    30px -20px 0 0 #b0b0b0, 40px -20px 0 0 #ffffff, 50px -20px 0 0 #ffffff,
    60px -20px 0 0 #ffffff, 70px -20px 0 0 #414141, 20px -10px 0 0 #414141,
    30px -10px 0 0 #414141, 40px -10px 0 0 #414141, 50px -10px 0 0 #414141,
    60px -10px 0 0 #414141, 30px -0px 0 0 #414141, 60px -0px 0 0 #414141;
}

#bertrand.right {
  transform: none;
}

#bertrand.left #bubble {
  transform: rotateY(180deg);
}

#bertrand.left #bubble:before {
  left: auto;
  right: 0;

  border-top: 15px solid var(--primary);
  border-left: 15px solid transparent;
  border-right: none;
}

#bertrand.left {
  transform: rotateY(180deg) translate(-90px, 0);
}
