#deave {
  box-shadow: 10px -10px 0 0 #414141, 20px -10px 0 0 #414141,
    40px -10px 0 0 #414141, 50px -10px 0 0 #414141, 60px -10px 0 0 #414141,
    0px -20px 0 0 #414141, 10px -20px 0 0 #ffffff, 20px -20px 0 0 #ffffff,
    30px -20px 0 0 #414141, 40px -20px 0 0 #b0e1de, 50px -20px 0 0 #b0e1de,
    60px -20px 0 0 #7bbfbe, 70px -20px 0 0 #414141, 0px -30px 0 0 #414141,
    10px -30px 0 0 #ffffff, 20px -30px 0 0 #ffffff, 30px -30px 0 0 #ffffff,
    40px -30px 0 0 #b0e1de, 50px -30px 0 0 #b0e1de, 60px -30px 0 0 #7bbfbe,
    70px -30px 0 0 #b0e1de, 80px -30px 0 0 #414141, 0px -40px 0 0 #414141,
    10px -40px 0 0 #ffffff, 20px -40px 0 0 #ffffff, 30px -40px 0 0 #ffffff,
    40px -40px 0 0 #b0e1de, 50px -40px 0 0 #b0e1de, 60px -40px 0 0 #7bbfbe,
    70px -40px 0 0 #414141, 80px -40px 0 0 #414141, 0px -50px 0 0 #414141,
    10px -50px 0 0 #ffffff, 20px -50px 0 0 #ffffff, 30px -50px 0 0 #ffffff,
    40px -50px 0 0 #b0e1de, 50px -50px 0 0 #414141, 60px -50px 0 0 #7bbfbe,
    70px -50px 0 0 #414141, 0px -60px 0 0 #414141, 10px -60px 0 0 #ff8f0f,
    20px -60px 0 0 #ff8f0f, 30px -60px 0 0 #de7403, 40px -60px 0 0 #b0e1de,
    50px -60px 0 0 #b0e1de, 60px -60px 0 0 #7bbfbe, 70px -60px 0 0 #414141,
    0px -70px 0 0 #414141, 10px -70px 0 0 #ff8f0f, 20px -70px 0 0 #ff8f0f,
    30px -70px 0 0 #de7403, 40px -70px 0 0 #b0e1de, 50px -70px 0 0 #b0e1de,
    60px -70px 0 0 #7bbfbe, 70px -70px 0 0 #414141, 0px -80px 0 0 #414141,
    10px -80px 0 0 #b0e1de, 20px -80px 0 0 #b0e1de, 30px -80px 0 0 #b0e1de,
    40px -80px 0 0 #b0e1de, 50px -80px 0 0 #b0e1de, 60px -80px 0 0 #7bbfbe,
    70px -80px 0 0 #414141, 0px -90px 0 0 #414141, 10px -90px 0 0 #b0e1de,
    20px -90px 0 0 #b0e1de, 30px -90px 0 0 #b0e1de, 40px -90px 0 0 #b0e1de,
    50px -90px 0 0 #b0e1de, 60px -90px 0 0 #7bbfbe, 70px -90px 0 0 #414141,
    0px -100px 0 0 #414141, 10px -100px 0 0 #b0e1de, 20px -100px 0 0 #414141,
    30px -100px 0 0 #414141, 40px -100px 0 0 #414141, 50px -100px 0 0 #b0e1de,
    60px -100px 0 0 #414141, 0px -110px 0 0 #414141, 10px -110px 0 0 #414141,
    40px -110px 0 0 #414141, 50px -110px 0 0 #414141;
  width: 10px;
  height: 10px;
}

#deave.key-0 {
  box-shadow: 10px -10px 0 0 #414141, 20px -10px 0 0 #414141,
    40px -10px 0 0 #414141, 50px -10px 0 0 #414141, 60px -10px 0 0 #414141,
    0px -20px 0 0 #414141, 10px -20px 0 0 #ffffff, 20px -20px 0 0 #ffffff,
    30px -20px 0 0 #414141, 40px -20px 0 0 #b0e1de, 50px -20px 0 0 #b0e1de,
    60px -20px 0 0 #7bbfbe, 70px -20px 0 0 #414141, 0px -30px 0 0 #414141,
    10px -30px 0 0 #ffffff, 20px -30px 0 0 #ffffff, 30px -30px 0 0 #ffffff,
    40px -30px 0 0 #b0e1de, 50px -30px 0 0 #b0e1de, 60px -30px 0 0 #7bbfbe,
    70px -30px 0 0 #b0e1de, 80px -30px 0 0 #414141, 0px -40px 0 0 #414141,
    10px -40px 0 0 #ffffff, 20px -40px 0 0 #ffffff, 30px -40px 0 0 #ffffff,
    40px -40px 0 0 #b0e1de, 50px -40px 0 0 #b0e1de, 60px -40px 0 0 #7bbfbe,
    70px -40px 0 0 #414141, 80px -40px 0 0 #414141, 0px -50px 0 0 #414141,
    10px -50px 0 0 #ffffff, 20px -50px 0 0 #ffffff, 30px -50px 0 0 #ffffff,
    40px -50px 0 0 #b0e1de, 50px -50px 0 0 #414141, 60px -50px 0 0 #7bbfbe,
    70px -50px 0 0 #414141, 0px -60px 0 0 #414141, 10px -60px 0 0 #ff8f0f,
    20px -60px 0 0 #ff8f0f, 30px -60px 0 0 #de7403, 40px -60px 0 0 #b0e1de,
    50px -60px 0 0 #b0e1de, 60px -60px 0 0 #7bbfbe, 70px -60px 0 0 #414141,
    0px -70px 0 0 #414141, 10px -70px 0 0 #ff8f0f, 20px -70px 0 0 #ff8f0f,
    30px -70px 0 0 #de7403, 40px -70px 0 0 #b0e1de, 50px -70px 0 0 #b0e1de,
    60px -70px 0 0 #7bbfbe, 70px -70px 0 0 #414141, 0px -80px 0 0 #414141,
    10px -80px 0 0 #b0e1de, 20px -80px 0 0 #b0e1de, 30px -80px 0 0 #b0e1de,
    40px -80px 0 0 #b0e1de, 50px -80px 0 0 #b0e1de, 60px -80px 0 0 #7bbfbe,
    70px -80px 0 0 #414141, 0px -90px 0 0 #414141, 10px -90px 0 0 #b0e1de,
    20px -90px 0 0 #b0e1de, 30px -90px 0 0 #b0e1de, 40px -90px 0 0 #b0e1de,
    50px -90px 0 0 #b0e1de, 60px -90px 0 0 #7bbfbe, 70px -90px 0 0 #414141,
    0px -100px 0 0 #414141, 10px -100px 0 0 #b0e1de, 20px -100px 0 0 #414141,
    30px -100px 0 0 #414141, 40px -100px 0 0 #414141, 50px -100px 0 0 #b0e1de,
    60px -100px 0 0 #414141, 0px -110px 0 0 #414141, 10px -110px 0 0 #414141,
    40px -110px 0 0 #414141, 50px -110px 0 0 #414141;
}

#deave.key-1 {
  box-shadow: 10px -20px 0 0 #414141, 20px -20px 0 0 #414141,
    40px -20px 0 0 #414141, 50px -20px 0 0 #414141, 60px -20px 0 0 #414141,
    0px -30px 0 0 #414141, 10px -30px 0 0 #ffffff, 20px -30px 0 0 #ffffff,
    30px -30px 0 0 #414141, 40px -30px 0 0 #b0e1de, 50px -30px 0 0 #b0e1de,
    60px -30px 0 0 #7bbfbe, 70px -30px 0 0 #414141, 0px -40px 0 0 #414141,
    10px -40px 0 0 #ffffff, 20px -40px 0 0 #ffffff, 30px -40px 0 0 #ffffff,
    40px -40px 0 0 #b0e1de, 50px -40px 0 0 #b0e1de, 60px -40px 0 0 #7bbfbe,
    70px -40px 0 0 #b0e1de, 80px -40px 0 0 #414141, 0px -50px 0 0 #414141,
    10px -50px 0 0 #ffffff, 20px -50px 0 0 #ffffff, 30px -50px 0 0 #ffffff,
    40px -50px 0 0 #b0e1de, 50px -50px 0 0 #b0e1de, 60px -50px 0 0 #7bbfbe,
    70px -50px 0 0 #414141, 80px -50px 0 0 #414141, 0px -60px 0 0 #414141,
    10px -60px 0 0 #ffffff, 20px -60px 0 0 #ffffff, 30px -60px 0 0 #ffffff,
    40px -60px 0 0 #b0e1de, 50px -60px 0 0 #414141, 60px -60px 0 0 #7bbfbe,
    70px -60px 0 0 #414141, 0px -70px 0 0 #414141, 10px -70px 0 0 #ff8f0f,
    20px -70px 0 0 #ff8f0f, 30px -70px 0 0 #de7403, 40px -70px 0 0 #b0e1de,
    50px -70px 0 0 #b0e1de, 60px -70px 0 0 #7bbfbe, 70px -70px 0 0 #414141,
    0px -80px 0 0 #414141, 10px -80px 0 0 #ff8f0f, 20px -80px 0 0 #ff8f0f,
    30px -80px 0 0 #de7403, 40px -80px 0 0 #b0e1de, 50px -80px 0 0 #b0e1de,
    60px -80px 0 0 #7bbfbe, 70px -80px 0 0 #414141, 0px -90px 0 0 #414141,
    10px -90px 0 0 #b0e1de, 20px -90px 0 0 #b0e1de, 30px -90px 0 0 #b0e1de,
    40px -90px 0 0 #b0e1de, 50px -90px 0 0 #b0e1de, 60px -90px 0 0 #7bbfbe,
    70px -90px 0 0 #414141, 0px -100px 0 0 #414141, 10px -100px 0 0 #b0e1de,
    20px -100px 0 0 #b0e1de, 30px -100px 0 0 #b0e1de, 40px -100px 0 0 #b0e1de,
    50px -100px 0 0 #b0e1de, 60px -100px 0 0 #7bbfbe, 70px -100px 0 0 #414141,
    0px -110px 0 0 #414141, 10px -110px 0 0 #b0e1de, 20px -110px 0 0 #414141,
    30px -110px 0 0 #414141, 40px -110px 0 0 #414141, 50px -110px 0 0 #b0e1de,
    60px -110px 0 0 #414141, 0px -120px 0 0 #414141, 10px -120px 0 0 #414141,
    40px -120px 0 0 #414141, 50px -120px 0 0 #414141;
}
