#home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5%;
  background-color: #111;
}
#home:before,
#home:after {
  content: '';
  position: absolute;
  left: 70px;
  bottom: 20px;
  height: 350px;
  width: 350px;
  background-color: #81906c;
  border-radius: 500px;
}

#home:after {
  right: 70px;
  left: auto;
  background-color: #d4b8b2;
}

#home h1 {
  font-size: 80px;
  margin-bottom: 0;
}

#home h3 {
  font-size: 20px;
  margin-bottom: 50px;
}

#home #puddle {
  position: absolute;
  left: 150px;
  bottom: 70px;
  transform: scale(1.8);
}
#home #deave {
  position: absolute;
  z-index: 2;
  right: 310px;
  bottom: 80px;
  transform: scale(2);
}

#home menu {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0;
}

#home button {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 3px solid #ebe8e2;
  color: #ebe8e2;
  border-radius: 5px;
  margin-bottom: 40px;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 25px;
}

#home button:hover {
  background-color: #ebe8e2;
  color: #204d85;
  cursor: pointer;
}

.commands,
.guide,
.arrows,
.bottom-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commands > label {
  padding: 10px;
  border-bottom: 1px solid #ebe8e2;
}

.guide {
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;
  border-radius: 3px;
}

.guide > * {
  width: 230px;
}

.commands,
.arrows {
  flex-direction: column;
}

.arrows {
  border-right: 1px solid #ebe8e2;
  padding-right: 40px;
  margin-right: 40px;
}

.arrows > label {
  display: block;
  width: 100%;
}

.key {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ebe8e2;
  height: 50px;
  width: 50px;
  margin: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 44px;
  border-radius: 5px;
}

.arrow-right {
  transform: rotate(180deg);
}
.arrow-down {
  transform: rotate(-90deg);
}
.arrow-up {
  transform: rotate(90deg);
}

.key.e {
  margin: 10px 0;
}
