#puddle.right {
  transform: none;
}

#puddle.left #bubble {
  transform: rotateY(180deg);
}

#puddle.left #bubble:before {
  left: auto;
  right: 0;

  border-top: 15px solid var(--primary);
  border-left: 15px solid transparent;
  border-right: none;
}

#puddle.left {
  transform: rotateY(180deg) translate(-90px, 0);
}
