@import url('./home-page.css');
@import url('./puddle.css');

:root {
  --dark: #111;
  --primary: #1d3557;
  --secondary: #457b9d;
  --light: #a8dadc;
  --clear: #f1faee;
  --action: #ff8f0f;
}

*,
*:before,
*:after {
  font-family: 'Courier Sans', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--dark);
  color: var(--clear);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#canvas {
  display: none;
  position: relative;
  max-height: 640px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: var(--primary);
}

#start {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background: var(--dark);
  padding: 0 15%;
  color: var(--clear);
  font-size: 30px;
}
#start-txt {
  width: 100%;
  text-align: left;
}

#continue {
  display: block;
  visibility: hidden;
  font-size: 24px;
  width: 100%;
  text-align: right;
  margin-top: 50px;
}

#inventory {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
}

#inventory .slot {
  position: relative;
  border: 5px solid var(--primary);
  height: 50px;
  width: 50px;
  background-color: var(--clear);
  margin-right: 20px;
}

#inventory .slot * {
  position: absolute;
  bottom: 0;
}

#inventory .slot #gift {
  transform: scale(0.45);
}

#level {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 2000px;
  background-color: var(--clear);
  border-bottom: 10px solid #7e4900;
}

#level * {
  position: absolute;
  transition: opacity 0.3s;
}

#gift {
  box-shadow: 30px -80px 0 0 #ff0000, 60px -80px 0 0 #ff0000,
    20px -70px 0 0 #ff0000, 40px -70px 0 0 #ff0000, 50px -70px 0 0 #ff0000,
    70px -70px 0 0 #ff0000, 30px -60px 0 0 #ff0000, 40px -60px 0 0 #ff0000,
    50px -60px 0 0 #ff0000, 60px -60px 0 0 #ff0000, 0px -50px 0 0 #303f46,
    10px -50px 0 0 #303f46, 20px -50px 0 0 #303f46, 30px -50px 0 0 #303f46,
    40px -50px 0 0 #303f46, 50px -50px 0 0 #303f46, 60px -50px 0 0 #303f46,
    70px -50px 0 0 #303f46, 80px -50px 0 0 #303f46, 90px -50px 0 0 #303f46,
    0px -40px 0 0 #303f46, 10px -40px 0 0 #ffffff, 20px -40px 0 0 #ffffff,
    30px -40px 0 0 #ffffff, 40px -40px 0 0 #ff0000, 50px -40px 0 0 #ff0000,
    60px -40px 0 0 #ffffff, 70px -40px 0 0 #ffffff, 80px -40px 0 0 #ffffff,
    90px -40px 0 0 #303f46, 0px -30px 0 0 #303f46, 10px -30px 0 0 #ff0000,
    20px -30px 0 0 #ff0000, 30px -30px 0 0 #ff0000, 40px -30px 0 0 #ff0000,
    50px -30px 0 0 #ff0000, 60px -30px 0 0 #ff0000, 70px -30px 0 0 #ff0000,
    80px -30px 0 0 #ff0000, 90px -30px 0 0 #303f46, 0px -20px 0 0 #303f46,
    10px -20px 0 0 #ff0000, 20px -20px 0 0 #ff0000, 30px -20px 0 0 #ff0000,
    40px -20px 0 0 #ff0000, 50px -20px 0 0 #ff0000, 60px -20px 0 0 #ff0000,
    70px -20px 0 0 #ff0000, 80px -20px 0 0 #ff0000, 90px -20px 0 0 #303f46,
    0px -10px 0 0 #303f46, 10px -10px 0 0 #ffffff, 20px -10px 0 0 #ffffff,
    30px -10px 0 0 #ffffff, 40px -10px 0 0 #ff0000, 50px -10px 0 0 #ff0000,
    60px -10px 0 0 #ffffff, 70px -10px 0 0 #ffffff, 80px -10px 0 0 #ffffff,
    90px -10px 0 0 #303f46, 10px -0px 0 0 #303f46, 20px -0px 0 0 #303f46,
    30px -0px 0 0 #303f46, 40px -0px 0 0 #303f46, 50px -0px 0 0 #303f46,
    60px -0px 0 0 #303f46, 70px -0px 0 0 #303f46, 80px -0px 0 0 #303f46,
    90px -0px 0 0 #303f46;
  height: 10px;
  width: 10px;
  background-color: #303f46;
}

#bubble {
  position: absolute;
  bottom: 140px;
  left: 100px;
  padding: 20px;
  background: var(--clear);
  border: 5px solid #414141;
  color: #414141;
  border-radius: 5px;
  width: 300px;
  min-height: 50px;
  font-size: 18px;
  transition: all 0.3s;
}

#bubble:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -15px;
  height: 0;
  width: 0;
  border-top: 15px solid #414141;
  border-right: 15px solid transparent;
}
#bubble.continue:after {
  content: 'Press E to continue';
  display: block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: var(--action);
  font-weight: bold;
}
