@import url('./home-page.css');

:root {
  --dark: #111;
  --primary: #363c3d;
  --clear: #ebe8e2;
  --action: #204d85;
}

*,
*:before,
*:after {
  font-family: 'Courier Sans', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--dark);
  color: var(--clear);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}
.cloud,
.deave {
  animation: float 5s infinite;
}

#canvas {
  display: none;
  position: relative;
  max-height: 640px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: var(--primary);
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background: var(--dark);
  padding: 0 15%;
  color: var(--clear);
  font-size: 30px;
  transition: opacity 2s;
  opacity: 0;
}
.fullscreen-txt {
  width: 100%;
  text-align: left;
}

#continue {
  display: block;
  visibility: hidden;
  font-size: 24px;
  width: 100%;
  text-align: right;
  margin-top: 50px;
}

#inventory {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
}

#inventory .slot {
  position: relative;
  border: 5px solid var(--primary);
  height: 50px;
  width: 50px;
  background-color: var(--clear);
  margin-right: 20px;
}

#inventory .slot * {
  position: absolute;
  bottom: 0;
}

#inventory .slot #color {
  transform: scale(0.3);
  bottom: 2px;
  left: 5px;
}

#level {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 2000px;
  background-color: #a6dde3;
  border-bottom: 10px solid #5c4b4b;
}

#level:before {
  content: '';
  position: absolute;
  height: 150px;
  width: 100%;
  bottom: 0;
  background-color: #405351;
}

#level * {
  position: absolute;
  transition: opacity 0.3s;
}

#bubble {
  position: absolute;
  z-index: 999;
  padding: 20px;
  background: var(--clear);
  border: 5px solid #343a40;
  color: #343a40;
  border-radius: 5px;
  width: 300px;
  min-height: 50px;
  font-size: 18px;
  transition: all 0.3s;
}

#bubble:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -15px;
  height: 0;
  width: 0;
  border-top: 15px solid #414141;
  border-right: 15px solid transparent;
}
#bubble.continue:after {
  content: 'Press E to continue';
  display: block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: var(--action);
  font-weight: bold;
}

.player.right {
  transform: none;
}

.player.left #bubble {
  transform: rotateY(180deg);
}
#bubble.reverse,
#bubble.reverse:after,
#bubble.reverse div {
  transform: rotateY(180deg);
}

.player.left #bubble:before {
  left: auto;
  right: 0;

  border-top: 15px solid var(--primary);
  border-left: 15px solid transparent;
  border-right: none;
}

#bubble.reverse:after {
  right: auto;
  left: 5px;
}

.flipped {
  transform: rotateY(180deg) translate(-90px, 0);
}
