#tombstone_deave {
  box-shadow: 10px 0px 0 0 #7e4900, 20px 0px 0 0 #744400, 30px 0px 0 0 #744400,
    40px 0px 0 0 #7e4900, 50px 0px 0 0 #8f5600, 60px 0px 0 0 #8f5600,
    70px 0px 0 0 #7e4900, 80px 0px 0 0 #744400, 90px 0px 0 0 #744400,
    100px 0px 0 0 #7e4900, 10px -10px 0 0 #8f5600, 20px -10px 0 0 #744400,
    30px -10px 0 0 #7e4900, 40px -10px 0 0 #744400, 50px -10px 0 0 #686666,
    60px -10px 0 0 #686666, 70px -10px 0 0 #7e4900, 80px -10px 0 0 #8f5600,
    90px -10px 0 0 #744400, 10px -20px 0 0 #151516, 20px -20px 0 0 #7e4900,
    30px -20px 0 0 #6f6f6f, 40px -20px 0 0 #686666, 50px -20px 0 0 #686666,
    60px -20px 0 0 #686666, 70px -20px 0 0 #686666, 80px -20px 0 0 #7e4900,
    90px -20px 0 0 #151516, 10px -30px 0 0 #151516, 20px -30px 0 0 #6f6f6f,
    30px -30px 0 0 #6f6f6f, 40px -30px 0 0 #6f6f6f, 50px -30px 0 0 #6f6f6f,
    60px -30px 0 0 #6f6f6f, 70px -30px 0 0 #686666, 80px -30px 0 0 #686666,
    90px -30px 0 0 #151516, 10px -40px 0 0 #151516, 20px -40px 0 0 #6f6f6f,
    30px -40px 0 0 #6f6f6f, 40px -40px 0 0 #6f6f6f, 50px -40px 0 0 #27272b,
    60px -40px 0 0 #6f6f6f, 70px -40px 0 0 #6f6f6f, 80px -40px 0 0 #686666,
    90px -40px 0 0 #151516, 10px -50px 0 0 #151516, 20px -50px 0 0 #6f6f6f,
    30px -50px 0 0 #6f6f6f, 40px -50px 0 0 #6f6f6f, 50px -50px 0 0 #27272b,
    60px -50px 0 0 #6f6f6f, 70px -50px 0 0 #6f6f6f, 80px -50px 0 0 #6f6f6f,
    90px -50px 0 0 #151516, 10px -60px 0 0 #151516, 20px -60px 0 0 #6f6f6f,
    30px -60px 0 0 #6f6f6f, 40px -60px 0 0 #27272b, 50px -60px 0 0 #27272b,
    60px -60px 0 0 #27272b, 70px -60px 0 0 #6f6f6f, 80px -60px 0 0 #6f6f6f,
    90px -60px 0 0 #151516, 20px -70px 0 0 #151516, 30px -70px 0 0 #6f6f6f,
    40px -70px 0 0 #6f6f6f, 50px -70px 0 0 #27272b, 60px -70px 0 0 #6f6f6f,
    70px -70px 0 0 #6f6f6f, 80px -70px 0 0 #151516, 30px -80px 0 0 #151516,
    40px -80px 0 0 #6f6f6f, 50px -80px 0 0 #6f6f6f, 60px -80px 0 0 #6f6f6f,
    70px -80px 0 0 #151516, 40px -90px 0 0 #151516, 50px -90px 0 0 #151516,
    60px -90px 0 0 #151516;
  width: 10px;
  height: 10px;
  background-color: #8f5600;
}
